header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album img {
  width: 30%;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .album img {
    width: 100%;
  }
}
